.Title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: brown;
  font-family: 'Dancing Script', cursive;
}
.card-img-top{
max-width: 500px;
max-height: 500px;
}
.card{
margin-top: 20%;
margin-left: 10%;
margin-right: 10%;
}
.card :hover{
  transform: scale(1.15);
}
.row{
  margin-top: px;
}
.form-select{
margin-left: 230%;
margin-top: 7%;
}

.card-body {
  background-color: antiquewhite;
}

.row {
  background-color: rgba(137, 43, 226, 0.438);
}

h1 {
  background-color: rgba(0, 0, 0, 0.76);
}